conf/setup.conf
simlog.node*
sunflower.out

#
#	Binaries
#
*.o
#*.a
*.sr
*.map
init.i

#
#	Built cross compiler binaries
#
tools/bin
tools/superH

#
#	Downloaded sources
#
tools/source/*

#
#	Bison files
#
sim/help.h
sim/sf.tab.c


#
#	sf build files
#

sim/mversion.h
sim/commands.tex
sim/opstr-*.h
sim/sf
sim/sf.output